.testimonial-image-mob {
    width: 380px;
    height: 620px;
    display: flex;
    position: relative;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
}

.testimonial-image-mob .testimonial-image {
    position: absolute;
    background-color: aliceblue;
    padding: 0px 18px;
    height: 120px;
    margin-top: 0px;
}

.testimonial-image-mob .testimonial-image > img {
    width: 344px;
    height: 206px;
    object-fit:cover;
    border-radius: 12px;
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.testimonial-image-mob .testimonial-content {
    margin-top: 240px;
    color: white;
    padding: 0px 20px;
}

.testimonial-image-mob .testimonial-content > svg {
    height: 48px;
    width: 48px;
    opacity: 0.35;
}

.testimonial-image-mob .testimonial-content .testimonial-desc {
    font-size: 24px;
    font-weight: 500;
}


.testimonial-image-mob .testimonial-content .testimonial-name {
    font-size: 16px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 0px;
}

.testimonial-image-mob .testimonial-content .testimonial-title {
    font-size: 16px;
    margin-top: 5px;
}
