.testimonial-image-blue {
    background-color: #2545B8;
}

.testimonial-image-green {
    background-color: green;
}

.testimonial-image-yellow {
    background-color: rgb(255, 196, 0);
}

.testimonial-image-red {
    background-color: red;
}

.testimonial-image-brown {
    background-color: brown;
}