main {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
}
.badge-button {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
}

.banner-div {
    display: flex;
    flex-direction: row;
}