main {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    font-family: 'Inter', sans-serif;
}
.badge-button {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
}






